<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if color_name == 'blue' %}
    <img src="{{ url_for('static', filename='ninjas/leonardo.jpg')}}", alt="turtles">
    {% elif color_name == 'orange' %}
    <img src="{{ url_for('static', filename='ninjas/michelangelo.jpg')}}", alt="turtles">
    {% elif color_name == 'red' %}
    <img src="{{ url_for('static', filename='ninjas/raphael.jpg')}}", alt="turtles">
    {% elif color_name == 'purple' %}
    <img src="{{ url_for('static', filename='ninjas/donatello.jpg')}}", alt="turtles">
    {% else %}
    <img src="{{ url_for('static', filename='ninjas/notapril.jpg')}}", alt="turtles">
    {% endif %}
</body>
</html>