<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/surveys/process" method='post'>
        {%csrf_token %} Your Name: 
        <input type="text" name='name'> <br><br>
        Location:
        <select name="location">
            <option value="Phoenix">Phoenix</option>
            <option value="Gilbert">Gilbert</option>
            <option value="Tempe">Tempe</option>
        </select><br><br>
        Language:
        <select name="language">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="HTML">HTML</option>
        </select><br><br>
        Add a comment:
        <textarea name="comment" cols="30" rows="1"></textarea><br><br>
        <input type="submit" value = 'Submit' >
    </form>

    {{name}}
    {{location}}
    {{language}}

</body>

</html>