<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class='log'>
        <h1>Enter a Valid(Any) Name!</h1>
        {% with messages = get_flashed_messages() %} {% if messages %} {%for message in messages %}
        <p>{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
        <form action="/process" method='POST'>
            Name:
            <input type="text" name='name'> Location:
            <select name='location'>
                <option value="pick">--select one---</option>
                <option value="phx">Phx</option>
                <option value="tempe">Tempe</option>
                <option value="mesa">Mesa</option>
                <option value="chandler">Chandler</option>
            </select>
            Language:
            <select name='language'>
                <option value="pick">--select one---</option>
                <option value="python">Phyton</option>
                <option value="java">Java</option>
                <option value="react">React</option>
                <option value="html">HTML</option>
            </select>
            <br> Description:
            <textarea name='description'></textarea>
            <input type="submit" value='Submit'>
        </form>
    </div>
    
</body>

</html>